In [17]:
import pandas as pd

url = "https://raw.githubusercontent.com/krishnaik06/simple-Linear-Regression/refs/heads/master/Salary_Data.csv"
df = pd.read_csv(url)
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
name = (input("What is your name?")).capitalize()
# capitalize is a method not an attribute
print(f"Hello {name}.")

Hello Sus.

In [20]:
# TODO: Speed in m/s and in km/hr when a vehicle covers distance of 75 km in 3570 seconds.

distance_covered = 75 * 1000 # 60km in meters
time_taken = 3570 # seconds

MPS_TO_KMPH = 3.6

speed_in_mps = distance_covered / time_taken # meters per second (60000/3425)

speed_in_kmph = speed_in_mps * MPS_TO_KMPH # kilometers per hour

print(f'The speed of the vehicle is: {round(speed_in_mps, 3)} m/s or \
{round(speed_in_kmph, 3)} km/hr')

The speed of the vehicle is: 21.008 m/s or 75.63 km/hr