In [9]:
# Working with Tabular Data (Structured Data) - User Data of a Mobile App

# id    name            age  subscribed
# 276   John Doe        26   True
# 372   Jane Doe        19   False
# 563   Carrie Dubose   32   False

# list of dict (row first representation)
user_data = [
{'id': 276, 'name': 'John Doe', 'age': 26, 'subscribed': True}, # row 1
{'id': 372, 'name': 'Jane Doe', 'age': 19, 'subscribed': False}, # row 2
{'id': 563, 'name': 'Carrie Dubose', 'age': 32, 'subscribed': False}
]

# TODO: add a new user
# id = 876, name = James Henderson, age = 32, subscribed = False

new_user = {
'id': 876,
'name': 'James Henderson',
'age': 32,
'subscribed': False
}

user_data.append(new_user)
user_data

[{'id': 276, 'name': 'John Doe', 'age': 26, 'subscribed': True},
 {'id': 372, 'name': 'Jane Doe', 'age': 19, 'subscribed': False},
 {'id': 563, 'name': 'Carrie Dubose', 'age': 32, 'subscribed': False},
 {'id': 876, 'name': 'James Henderson', 'age': 32, 'subscribed': False}]

In [ ]:
# id    name            age  subscribed
# 276   John Doe        26   True
# 372   Jane Doe        19   False
# 563   Carrie Dubose   32   False

# dict of lists
user_data_compact = {
# metadata
'columns': ['id', 'name', 'age', 'usage', 'subscribed'],
'length': 3,

# data (column first representation)
'id': [276, 372, 563], # column id
'name': ['John Doe', 'Jane Doe', 'Carrie Dubose'], # column name
'age': [26, 19, 32], # list of ints
'discovery': ['facebook', 'facebook', 'youtube'],
'usage': [187, 37, 257],
'subscribed': [True, False, False],
}

# traversing the table
for row_index in range(user_data_compact['length']):
  for column in user_data_compact['columns']:
    print(f'{column} = {user_data_compact[column][row_index]}')
  print()

id = 276
name = John Doe
age = 26
usage = 187
subscribed = True

id = 372
name = Jane Doe
age = 19
usage = 37
subscribed = False

id = 563
name = Carrie Dubose
age = 32
usage = 257
subscribed = False

In [10]:
# TODO: calculate average age
# search "average of list of ints"
ages = user_data_compact['age']
avg= sum(ages)/len(ages)
avg

25.666666666666668