### python programming language

In [10]:
#name = (input("What is your name?")).capitalize()
name = 'sus'.capitalize()
# capitalize is a method not an attribute
# access them differently
print(f"Hello {name}.")

Hello Sus.

In [11]:
# TODO: Speed in m/s and in km/hr when a vehicle covers distance of 75 km in 3570 seconds.

distance_covered = 75 * 1000 # 60km in meters
time_taken = 3570 # seconds

MPS_TO_KMPH = 3.6

speed_in_mps = distance_covered / time_taken # meters per second (60000/3425)

speed_in_kmph = speed_in_mps * MPS_TO_KMPH # kilometers per hour

print(f'The speed of the vehicle is: {round(speed_in_mps, 3)} m/s or \
{round(speed_in_kmph, 3)} km/hr')

The speed of the vehicle is: 21.008 m/s or 75.63 km/hr

In [ ]:
# mix ratio for different grades of concrete

# M15 - 1:3:6 (cement, sand, coarse)
# M20 - 1:2:4
# M25 - 1:1.5:3
# M30 - 1:1:2

all_grades = [15, 20, 25, 30]
cement = 1

for grade in all_grades:
  # the code block below is repeated for each value in the "list"
  # or we could loop in a range as `for grade_value in range(15, 31, 5):`
  if grade == 15:
    sand = 3
    coarse = 6
  elif grade == 20:
    sand = 2
    coarse = 4
  elif grade == 25:
    sand = 1.5
    coarse = 3
  else:
    sand = 1
    coarse = 2

  print(f'The mix ratio for M{grade} concrete is {cement}:{sand}:{coarse}')

The mix ratio for M15 concrete is 1:3:6
The mix ratio for M20 concrete is 1:2:4
The mix ratio for M25 concrete is 1:1.5:3
The mix ratio for M30 concrete is 1:1:2

In [ ]:
# function to calculate compressive strength of a cubic concrete block

def calculate_compressive_strength(length_m, peak_load_kg):
  area = length_m ** 2 # sq.m. IMPORTANT: Exponentiation with ** (not ^)
  force = peak_load_kg * 9.81 # N
  strength = force / area
  return strength # N/sq.m.

# observed values for a block

# EXECUTION (AFTER DEF)
compressive_strength = calculate_compressive_strength(
    length_m = 0.3,
    peak_load_kg = 80 # we could just pass param values
)

print(f'The compressive strength of the block is: \
{round(compressive_strength,2)} N/sq.m.')

# floor of a float value is the largest integer less than it
# floor(3.456) = 3
# floor(-4.234) = -5
# import math and math.floor() but we usually use np

The compressive strength of the block is: 8720.0 N/sq.m.

In [ ]:
import pandas as pd
# import at beginning (of a file)

url = "https://raw.githubusercontent.com/krishnaik06/simple-Linear-Regression/refs/heads/master/Salary_Data.csv"
# we can read from url, not just offline files like so
df = pd.read_csv(url)
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0